@use '../../vars';

.footer {
    background-color: #32334F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
    margin-top: 1.5rem;
    border-top: 1px solid vars.$color2;
    text-align: center;
}

.footer p {
    font-family: vars.$font;
    color: vars.$color1;
    padding: 0;
    margin: 0.3rem;
    font-size: 0.6rem;
}

.footer a {
    color: vars.$color2;
}

@media (min-width: 1400px) {
    .footer p {
        font-size: 0.8rem;
    }
}