@use '../../vars';

.characters {

    &__legend {
        text-align: center;
        color: vars.$color2;
    }

    &__content {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .characters__content {
        margin-left: 8%;
        margin-right: 8%;
    }
}