@use '../../vars';

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 51, 79,0.9);
    margin: 0;
}

.details__global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50vh;
    left: 35%;
    background-color: vars.$color4;
    border-radius: 15px;

    @media (max-width: 768px) {
        left: 5%;
        flex-direction: column;
        align-items: center;
    }

    &-image {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        @media (max-width: 768px) {
            width: 150px;
            height: 150px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    &-list {
        list-style-type: none;
        font-size: 1.2rem;
        color: vars.$color3;
        width: 300px;

        @media (max-width: 768px) {
            width: 100%;
        }

        &-item {
            margin: 0.5rem;
        }
    }

    &-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid vars.$color4;
        background-color: vars.$color3;
        color: vars.$color4;
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    &-button:hover {
        color: vars.$color3;
        background-color: vars.$color4;
        border: 1px solid vars.$color3;
    }
}