@use '../../vars';

.home {
    color: vars.$color3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem;
    font-family: vars.$mainFont;
    font-size: 1.2rem;

    @media (max-width: 768px) {
       font-size: 0.9rem;
    }

    &__box {
        text-align: center;
    }

    &__box img {
        @media (max-width: 768px) {
            width: 300px;
        }
    }

    &__react {
        width: 600px;
        animation: reactSpin infinite 20s linear;
    }
}

@keyframes reactSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}